<!doctype html>
<html ng-app="tinderDuGouvernement" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <title>Tinder du Gouvernement</title>
        <meta name="description" content="Parce qu'on ne s'entraîne jamais assez à reconnaître les membres de notre très cher gouvernement, Paulloz vous propose une appli simple et conviviale. Quinze personnes, deux choix : vers la droite c'est un membre du gouvernement, vers la gauche ce n'est pas le cas. Plus jamais vous ne croiserez Emmanuel Macron dans la rue sans le reconnaître ! Bonne chance.">
        <meta name="viewport" content="width=device-width">
        <meta property="og:title" content="Tinder du Gouvernement">
        <meta property="og:description" content="Parce qu'on ne s'entraîne jamais assez à reconnaître les membres de notre très cher gouvernement, Paulloz vous propose une appli simple et conviviale. Quinze personnes, deux choix : vers la droite c'est un membre du gouvernement, vers la gauche ce n'est pas le cas. Plus jamais vous ne croiserez Emmanuel Macron dans la rue sans le reconnaître ! Bonne chance.">
        <meta property="og:site_name" content="Tinder du Gouvernement">
        <meta property="og:image" content="https://paulloz.github.io/tinder-du-gouvernement/assets/images/social.jpg">
        <meta property="og:url" content="https://paulloz.github.io/tinder-du-gouvernement/">
        <meta property="og:locale:alternate" content="fr_FR" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- run `gulp inject` to automatically populate bower styles dependencies -->
        <!-- endbower -->
        <!-- endbuild -->
        <script src="https://d3js.org/d3-dsv.v0.2.min.js"></script>

        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container" ng-controller="MainController as main" ng-class="{'end':hasEnded()}">
            <div class="container" ng-if="!hasEnded()">
                <p>
                    <span ng-if="hasStarted()">Cette personne fait-elle partie du gouvernement&nbsp;?</span>
                    <span ng-if="!hasStarted()">&nbsp;</span>
                </p>
                <div class="cards" ng-swipe-right="ok(true)" ng-swipe-left="ko(true)">
                    <card ng-repeat="person in persons" person="person"></card>
                    <div class="card card--intro" ng-if="!hasStarted()">
                        <img width="100%" src="assets/images/social.jpg">
                        <p>
                            Quinze personnes, deux choix&nbsp;: vers la droite c'est un membre du gouvernement, vers la gauche ce n'est pas le cas.
                            <br>
                            <br>
                            Plus jamais vous ne croiserez Emmanuel Macron dans la rue sans le reconnaître&nbsp;!
                            <br>
                            <br>
                            Swipez à droite ou à gauche pour commencer, bonne chance.
                        </p>
                    </div>
                </div>
                <button class="ok" ng-click="ok(true)"><i class="fa fa-heart"></i></button>
                <button class="ko" ng-click="ko(true)"><i class="fa fa-times"></i></button>
            </div>
            <div ng-if="hasEnded()">
                <p style="font-size:1.5em;">
                    Ton score est de {{ score }}&nbsp;/&nbsp;{{ deckSize }}&nbsp;!
                </p>
                <p>
                    <button ng-click="shareOnTwitter()"><i class="fa fa-twitter"></i></button>
                    <button ng-click="restart()"><i class="fa fa-refresh"></i></button>
                </p>
                <hr>
                <ul>
                    <li ng-repeat="item in ending" ng-class="{ 'ok' : item.ok }">
                        {{ item.label }}
                    </li>
                </ul>
            </div>
            <a href="https://github.com/Paulloz/tinder-du-gouvernement" target="blank" class="about">À propos</a>
            <a href="http://paulloz.com" target="_blank" class="plz">Fait avec &lt;3 par Paulloz</a>
        </div>

        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- run `gulp inject` to automatically populate bower script dependencies -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->

        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->

    </body>
</html>
